<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <div>
        <h2>Lista dei Film</h2>
        <ul>
            <li th:each="movie : ${movies}">
                <strong th:text="${movie.title}"></strong> 
                (<span th:text="${movie.year}"></span>) - 
                Diretto da <span th:text="${movie.director}"></span> - 
                Genere: <span th:text="${movie.genre}"></span>
            </li>
        </ul>
    </div>
</body>
</html>